.coinBalanceCardContainer{
    max-width: 33.4375rem;
    height: 27.8125rem;
    background: linear-gradient(131.46deg, #C9E5FD 1.47%, #DEF0FF 103.63%);
    border-radius: 16px;
    margin-top: .625rem;
    overflow: auto;
}

.coinBalanceCard{
    max-width: 28.5rem;
    height: 6.25rem;
    background: linear-gradient(96.68deg, #146AB5 12.55%, #0A487D 71.99%);
    border-radius: 10px;
    margin: 1.875rem 2.4375rem 0 2.5rem;
}

.earnings {
    height: 1.3125rem;
    line-height: 1.3125rem;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    color: #000000;
    margin-top: 1.3125rem;
    margin-left: 3.0625rem;
    vertical-align:top;
}
.amount{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: #000000;
    display: inline-block;
    vertical-align:top;
    margin-top: 1.0625rem;
    margin-left: 1rem;
}

.redeem{
    background: #FE8276;
    border: 1px solid #FE8276;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px #A6CAD1;
    border-radius: 5px;
    max-width: 456px;
    height: 4.0625rem;
    margin-left: 40px;
    margin-right: 39px;
    margin-top: 21px
}

.redeemButtonText{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.dash{
    border: none;
    border: 1px dashed #000000;
    height: 0px;
    margin-top: 33px;
    margin: 33px 35px 0px 35px;
}

.savedMoney, .coinsOnWay{
    margin-left: 91px;
}


.coinsOnWay{
    margin-top: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.0025em;
    color: #000000;
}
.savedMoney{
    margin-top: 26px;
}

.onWayCoinsNumber{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.0025em;
    color: #EE9A24;
    background: #FFFFFF;
    border-radius: 20px;
}

.onWayCoinsNumberContainer{
    width: 81px;
    height: 40px;
}