@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.mainContainer {
  margin-top: 68px;
  margin-left: 25rem;
  margin-right: 25rem;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (min-width: 480px) {
  .coinBalanceHeading {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }

  .mainContainer {
    margin-left: 50px;
    margin-right: 50px;
  }

  .walletCardsContainer {
    flex-direction: column-reverse;
    display: flex;
    height: 552px;
  }

  .coinsHistoryCard {
    display: none;
    box-shadow: none;
  }

  .walletCardImage {
    height: 221px;
    width: 100%;
  }

  .coinBalanceCardContainer {
    height: 302px;
    width: 100%;
  }

  .walletCardImage,
  .coinBalanceCardContainer {
    margin: 5px 0px 5px 0px;
  }

  .headerCard {
    display: none;
  }
  .coinBalance {
    margin-top: 12px;
    margin-left: 100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 130px;
    display: inline-block;
    font-size: 20px;
  }

  .coinPic {
    display: none;
  }
  .coinBalanceRightSection {
    width: 100%;
  }
  .referContainer {
    padding-bottom: 20px;
  }

  .howItWorksImageContainer {
    box-shadow: none;
    height: 300px;
  }

  .howItWorksSectionCard {
    display: block;
    margin-bottom: 0;
  }
  /* .referAFriendContainer {
    box-shadow: none;
  } */
}
