
@font-face {
  font-family: harmonia-reg;
  src: url(../fonts/HarmoniaSansProCyr-Regular.ttf);
}


@font-face {
  font-family: harmonia-bold;
  src: url(../fonts/HarmoniaSansProCyr-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: harmonia-reg;
}

div:empty{
  display: block;
}

a:not([href]) {
  cursor: pointer;
}

.react-responsive-modal-modal{
  height: 70%;
  width: 30%;
  border-radius: 16px;
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (min-width: 480px) {

.coinBalanceCard{
  height: 7.25rem;
}

.refer-friend-container{
  flex:4 
}

.mainContainer{
  margin-left: 13%;
  margin-right: 13%;
}

  .coinBalanceHeading {
    display: none;
  }
  .mobileReferralCode {
    display: none;
  }

  .sharePic {
    height: 22px;
    width: 22px;
  }

  .referFriend {
    margin-left: 4rem;
  }

  .coupon {
    border: 0.125rem dashed #c4c4c4;
    margin-left: 3.3125rem;
  }

  .code {
    margin-bottom: 1.875rem;
  }

  .referAFriendContainer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 3.5rem;
  }

  .couponText {
    font-size: 1.5rem;
  }

  .coinsOnYourWay {
    margin-left: 0.9375rem;
    margin-right: 0.875rem;
  }

  .onWayCardBody {
    font-size: 1.5rem;
  }

  .coinsOnWayFlex {
    margin-top: 2.25rem;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }

  .copyCouponDiv{
    display: none;
  }

  .referFriend{
    margin-right: 5%;
  }

  .walletCardsContainer {
    flex-direction: column-reverse;
    display: flex;
  }

  .coinsHistoryCard {
    display: none;
    box-shadow: none;
  }

  .walletCardImage {
    height: 221px;
    width: 100%;
  }

  .coinBalanceCardContainer {
    height: 302px;
    width: 100%;
  }

  
  .walletCardImage,
  .coinBalanceCardContainer {
    margin: 5px 0px 5px 0px;
  }

  .headerCard,
  .coinPic,
  .coinsHistoryCard,
  .rupee {
    display: none;
  }
  .coinBalance {
    margin-top: 12px;
    margin-left: 100px;
    margin: 0 auto;
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
  }


  .howItWorksImageContainer {
    box-shadow: none;
  }

  .howItWorksSectionCard {
    display: block;
    margin-bottom: 0;
  }

  .referAFriendContainer {
    background: #ffffff;
    border: 1px dashed #c4c4c4;
    box-sizing: border-box;
    border-radius: 3px;
  }

  .livePic {
    height: 20px;
    width: 20px;
  }
  .coinsOnYourWay {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  }

  .refer {
    display: none;
  }
  .coupon {
    border: none;
    margin-left: 20px;
  }

  .couponText {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #5f9e71;
    margin-left: 0px;
  }

  .referText {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
  }

  .code {
    /* border: solid 1px; */
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .referFriend {
    margin-left: 0px;
    display: flex;
  }

  .mobileReferralCode {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8a8a8a;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .earnings {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.0025em;
    color: #000000;
  }

  .amount {
    font-weight: 700;
  }

  .sharePic {
    height: 20px;
    width: 20px;
    /* border: solid 1px; */
  }

  .referText {
    /* border: solid 1px; */
    margin-top: 6%;
  }

  .onWayCardBody {
    font-size: 14px;
  }

  .redeem {
    font-size: 20px;
    height: 44px;
  }

  .coinsOnWayFlex {
    margin-top: 12px;
  }

  .copyCoupon {
    display: none;
  }
  .howItWorksImageContainer {
    box-shadow: none;
  }

  .mainContainer{
    margin-left: 5%;
    margin-right: 5%;
  }

  .refer-friend-container{
    flex:6
  }

  .coinBalanceCard{
    height: 6.25rem;
  }
}
