.referAFriendContainer {
  background-color: white;
  border-radius: 1rem;
  overflow: auto;
}

.refer {
  max-width: 20rem;
  height: 1.3125rem;
  margin-left: 3.3125rem;
  font-weight: bold;
  font-size: 1.125rem;
  margin-top: 1.75rem;
  margin-bottom: 0.8125rem;
  color: #8a8a8a;
}

.code {
  max-width: 100%;
  overflow: auto;
  display: flex;
  /* margin-left: 3.3125rem; */
}

.coupon {
  background-color: #ffffff;
  border-radius: 0.3125rem;
  flex:6;
  margin-left: 3.3125rem;
  display: flex;
}

.couponText {
  font-style: normal;
  font-weight: normal;
  color: #2fa83b;
  margin: 1.125rem 0px 1.1875rem 1.75rem;
  display: flex;
  align-items: center;
}

.copyCoupon {
  background: #edefed;
  /* border: 1px solid #edefed; */
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #8a8a8a;
  height: 100%;
  width: 127px;
  float: right;
  cursor: pointer;
}

.copyCouponDiv{
  flex:1
}

.referFriend {
  background-color: #fe8276;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  margin-left: 12.5%;
  margin-right: 20%;
}

.referText {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: #ffffff;
  flex: 8;
  line-height: 3;
}

.sharePic{
  height: 25%;
  width: 35%;
  display: block;
  position: relative;
  top: 50%;
  left: 100%;
  transform: translate(-50%,-50%);
}

.share-img-div{
  flex:2;
  text-align: center;
  height: 100%;
}

.tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copy-green{
  background: #5F9E71;
  color: white
}